{% extends 'base.html' %}

{% block content %}

{% for blog in posts %}
<br>
        <h3><a href="{%url 'detail' blog.id%}">{{ blog.title }}</a></h3>
        <div class="content">{{ blog.body|truncatewords:50 }}</div>
        <div class="info">
            <div class="published-date"><span>Date | </span>{{ blog.pub_date }}</div>
        </div>
    {% endfor %}
<br>
{%if posts.has_previous%}
<a href="?page=1">First</a>
<a href="?page={{posts.previous_page_number}}">맨 앞</a>
{%endif%}

<span>{{posts.number}}</span>
<span>of</span>
<span>{{posts.paginator.num_pages}}</span>

{%if posts.has_next%}
<a href="?page={{posts.next_page_number}}">Next</a>
<a href="?page={{posts.paginator.num_pages}}">맨 뒤</a>
{%endif%}

{% endblock %}
